h1{
    font-size: 3em;
    margin-bottom: 5rem;
}

h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 5rem;
}

.chart{
    width: 48%;
    display: inline-block;
}

.column-chart{
    text-align: center;
    margin-bottom: 10rem;
}

.pie-chart-origin{
    margin-bottom: 10rem;
}